*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  height:100vh;
  width: 100vw; 
  /* background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF); */
}
.warning{
  height: 40px;
  width: 400px;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: rgb(210, 91,91);
  font-size: 25px;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
}
